# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Generated data files
results.json
products.csv
.cursor

node_modules

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

node_modules
.vscode
